<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-indoorlocation-plugin" version="0.0.1">
    <name>Indoor Location Detection</name>
    <description>Cordova Indoor Location Detection Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,machine learning, location detection</keywords>
    <dependency id="cordova-plugin-geolocation" />
    <dependency id="cordova-sensorcollector-plugin" url="../cordova-sensorcollector-plugin/" />
    <dependency id="cordova-plugin-crosswalk-webview" />
    <dependency id="de.appplant.cordova.plugin.background-mode" />
    <js-module src="www/indoor.js" name="indoor">
        <clobbers target="indoor" />
    </js-module>
    <js-module src="www/helper.js" name="helper">
        <clobbers target="helper" />
    </js-module>
    <js-module src="www/processor.js" name="processor">
        <clobbers target="processor" />
    </js-module>
    <js-module src="www/DbModel.js" name="DbModel">
    </js-module>
    <js-module src="www/trainer.js" name="trainer">
    </js-module>
    <js-module src="www/lib/bower_components/dexie/dist/latest/Dexie.js" name="Dexie">
    </js-module>
    <js-module src="www/lib/bower_components/mithril/mithril.js" name="mithril">
    </js-module>
    <asset src="www/workers" target="js/workers" />
    <asset src="www/lib" target="js/lib" />
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <access origin="*" />
        </config-file>
    </platform>
</plugin>
